{% extends "@ContaoCore/Backend/be_page.html.twig" %}

{% block error %}
{% endblock %}

{% block headline %}
    <h1 id="main_headline"><span>Search</span></h1>
{% endblock %}

{% block main %}
{% include '@Gebi84SearchConsole/result.html.twig' %}
{% endblock %}